<body>
  <div class="mx-auto" style="width: 1200px;">
  
    <p class="h1">This is a h1</p>
    <p class="h2">This is a h2</p>
    <p class="h3">This is a h3</p>
    <p class="h4">This is a h4</p>
    <p class="h5">This is a h5</p>
    <p class="h6">This is a h6</p>
  
    <hr class="bg-light">
  
    <button type="button" class="btn btn-primary">Primary button!</button>
    <button type="button" class="btn btn-secondary">Secondary button!</button>
    <button type="button" class="btn btn-danger">Danger button!</button>
    <button type="button" class="btn btn-dark">Dark button!</button>
    <button type="button" class="btn btn-light">Light button!</button>
    <br/>
    <button type="button" class="btn btn-outline-primary">Primary button!</button>
    <button type="button" class="btn btn-outline-secondary">Secondary button!</button>
    <button type="button" class="btn btn-outline-danger">Danger button!</button>
    <button type="button" class="btn btn-outline-dark">Dark button!</button>
    <button type="button" class="btn btn-outline-light">Light button!</button>
  
    <hr class="bg-light">
  
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer pellentesque quam vel velit. Praesent in mauris eu tortor porttitor accumsan. Fusce consectetuer risus a nunc. Etiam neque. Integer pellentesque quam vel velit. Pellentesque pretium lectus id turpis. Integer in sapien. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Praesent in mauris eu tortor porttitor accumsan. Nulla non lectus sed nisl molestie malesuada. Aenean placerat. Praesent dapibus. Duis pulvinar. Cras elementum. Mauris dictum facilisis augue. Aenean vel massa quis mauris vehicula lacinia. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Etiam neque. Quisque porta. In rutrum. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Aliquam erat volutpat. Proin mattis lacinia justo. Quisque porta. Aenean id metus id velit ullamcorper pulvinar. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo.</p>
    
    <hr class="bg-light">

    <form>
      <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Napište email" style="width: 300px">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Heslo</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Heslo" style="width: 300px">
        <small id="emailHelp" class="form-text text-muted">Heslo musí být stejné jako u vašeho emailu :)))))</small>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Potvrzuji že odesláním prodávám svou duši satanovi</label>
      </div>
      <button type="submit" class="btn btn-dark">Odeslat</button>
    </form>

    <hr class="bg-light">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.pngitem.com/pimgs/m/141-1412402_transparent-pepe-clipart-hd-png-download.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hovno</h5>
        <p class="card-text">According to all known laws of aviation, there is no way that a bee should be able to fly. Its wings are too small to get its fat little body off the ground. The bee, of course, flies anyways. Because bees don't care what humans think is impossible.</p>
        <button class="btn btn-primary">Zabij se</button>
      </div>
    </div>

  </div>




</body>